<h2 align="center">Login</h2><br />

<form class="login-form">
  <small id="invalid"></small>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">Login</button>
</form>

<script src="./js/login.js"></script>